# emails
RESEND_API_KEY=""

# payment processing
STRIPE_API_KEY=""

# auth
# https://www.better-auth.com/docs/reference/options#secret
AUTH_SECRET=""

# hatchet (workflow engine)
# Get token from http://localhost:8888 -> Settings -> API Tokens
HATCHET_CLIENT_TOKEN=""
HATCHET_CLIENT_TLS_STRATEGY=none

# feature flags
VITE_FLAGS_CLIENT_KEY=
